<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
{% include "posts/sidebar.html" %}
<div class="main">
    <h1>Registration Page!</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There are errors in the form!</p>
        {% endif %}

        {{ form }}

        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>
